h1 {
  text-align: center;
  color: rgb(34, 35, 36);
}

img {
  max-width: 60%;
  height: auto;
}

nav {
  background-color: rgb(8, 8, 9);
  padding: 20px;


}

nav ul {
  list-style-type: none;
  margin: 10;
  

}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: white;
  font-size: 1.5em;
  transition: color 0.3s;
  text-decoration: none;

}

nav a:hover {
  color: darkblue;
  text-decoration: none;
}

.navbar-custom .navbar-brand:hover {
  color: rgb(52, 52, 178);
  text-decoration: none;
}
.navbar-custom {
  font-size: 24px; /* Adjust the font size as needed */
}
.navbar-custom .nav-link + .nav-link {
  margin-left: 50px; /* Adjust the margin as needed for the desired spacing */
}
.navbar-custom .navbar-brand {
  font-style: italic;
}
body {
  background-color: lightblue;
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color:rgb(237, 237, 242);
}

// homepage css


.no-underline {
  text-decoration: none;
}

.location-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
  background-color: lightblue;
}

.location-box img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.location-box h2,
.location-box p.text {
  width: 80%;
  margin: 0 auto;
}

.location-box h2 {
  background-color: whitesmoke;
  color: white;
  padding: 5px;
  border-radius: 10px;
}

// details page css 
.details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
}

.details-card {
  background-color: black;
  color: white;
  font-size: 15;
  border-radius: 15px; /* Adjust the border-radius for curved edges */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional: Add a box shadow */
}

.details-circle img {
  width: 100%;
  height: auto;
  border-radius: 50%; /* Make the image circular */
  margin-bottom: 10px;
}

.details-text {
  text-align: center;
}

.details-text h2,
.details-text p.text {
  margin-bottom: 10px;
}


.text {
  font-size: 30px; /* Adjust the font size as needed */
}

h2.no-underline {
  font-size: 40px; /* Adjust the font size as needed */
}
h2 {
  font-size: 40px; /* Adjust the font size as needed */
  background-color: cornflowerblue
}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set the container height to full viewport height */
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cornflowerblue; /* Blue background color */
  border-radius: 70%; /* Make it circular */
  padding: 170px; /* Increased padding for a larger circle */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional: Add a box shadow */
}

.login-form label {
  margin-bottom: 15px; /* Increased margin for better spacing */
  color: white; /* Text color */
}

.login-form input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 15px; /* Increased margin for better spacing */
  font-size: 23px; /* Increased font size */
}

.login-form button {
  padding: 12px;
  border-radius: 5px;
  border: none;
  background-color: white; /* Button background color */
  color: cornflowerblue; /* Button text color */
  cursor: pointer;
  font-size: 25px; /* Increased font size */
}

.login-form button:hover {
  background-color: darkblue; /* Button background color on hover */
  color: white; /* Button text color on hover */
}



.ApplyNowForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px; /* Adjust the height as needed */
  width: 550px; /* Adjust the width as needed */
  background-color: cornflowerblue;
  border-radius: 50%;
  color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: auto; /* Center the circle on the page */
  position: absolute; /* Position absolute for centering */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ApplyNowForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.ApplyNowForm label {
  margin: 10px 0;
}

.ApplyNowForm input {
  padding: 8px;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  font-size: 30px; /* Adjust the font size as needed */
}

.ApplyNowForm button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: white;
  color: cornflowerblue;
  cursor: pointer;
  margin-top: 10px;
}

.ApplyNowForm button:hover {
  background-color: darkblue;
  color: white;
}
